<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="name" value="KING"></parameter>
		<parameter name="number" value="987654"></parameter>



		<classes>
			<class name="co.test.in.UserData" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
